body {
	font-family: monospace;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
	border-radius: 6px;
  }
  
  a {
	cursor: pointer;
	transition: all 200ms linear;
  }
  
  a:hover {
	text-decoration: none;
	color: #50a3fd;
  }
  
  .link {
	color: #c4c3ca;
  }
  
  .link:hover {
	color: #50a3fd;
  }
  
  p {
	font-weight: 500;
	font-size: 14px;
  }
  
  h4 {
	font-weight: 600;
  }
  
  h6 span {
	padding: 0 20px;
	text-transform: uppercase;
	font-weight: 700;
  }
  
  .section {
	position: relative;
	width: 100%;
	display: block;
  }
  
  .full-height {
	min-height: 100vh;
  }
  
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
  }
  
  .checkbox:checked + label,
  .checkbox:not(:checked) + label {
	position: relative;
	display: block;
	text-align: center;
	width: 60px;
	height: 16px;
	border-radius: 8px;
	padding: 0;
	margin: 10px auto;
	cursor: pointer;
	background-color: #50a3fd;
  }
  
  .checkbox:checked + label:before,
  .checkbox:not(:checked) + label:before {
	position: absolute;
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	color: #50a3fd;
	background-color: #102770;
	font-family: 'unicons';
	content: '\eb4f';
	z-index: 20;
	top: -10px;
	left: -10px;
	line-height: 36px;
	text-align: center;
	font-size: 24px;
	transition: all 0.5s ease;
  }
  
  .checkbox:checked + label:before {
	transform: translateX(44px) rotate(-270deg);
  }
  
  .card-3d-wrap {
	position: relative;
	width: 600px;
	max-width: 100%;
	height: 600px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: 1000px;
	margin-top: 60px;
  }
  
  .card-3d-wrapper {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: all 1150ms cubic-bezier(0.24, -0.19, 0.4, 1.18);
  }
  
  .card-front, .card-back {
	width: 100%;
	height: 100%;
	background-color: #2a2b38;
	background-position: bottom center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	perspective: inherit;
  }
  
  .card-back {
	transform: rotateY(180deg);
  }
  
  .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
	transform: rotateY(180deg);
  }
  
  .center-wrap {
	position: absolute;
	width: calc(100% - 50px);
	padding: 35px 70px;
	/* margin: 25px; */
	left: 25px;
	transform: translate3d(0, 0%, 20px);
	z-index: 20;
	display: block;
	/*background: rgba(0, 0, 0, 0.25);*/
	backface-visibility: visible;
	border-radius: 6px;
	top: 25px;
	height: calc(100% - 50px);
  }
  
  .form-group {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	transform: translate3d(0, 0%, 0px);
	position: relative;
	height: auto;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	top: unset;
	height: auto;
	background: transparent;
	transition: 0.2s ease all;
	background-color: #1f2029;
  }
  
  .form-style {
	height: 50px;
	width: 100%;
	font-weight: 500;
	border-radius: 4px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.5px;
	outline: none;
	color: #c4c3ca;
	background-color: transparent;
	border: none;
	transform: translate3d(0, 0%, 10px);
	border-radius: 50px 0 0 50px;
	transform: translate3d(0, 0%, 10px);
	width: auto;
	transform: translate3d(0, 0%, 5px);
	line-height: 1em;
	text-align: left;
	z-index: 333;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	background: transparent;
	width: calc(100% - 55px);
	transform: translate3d(0, 0%, 5px);
	padding: 0 20px;
  }
  
  .form-group input:-ms-input-placeholder {
	color: #c4c3ca;
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
  }
  
  .form-group input::-moz-placeholder {
	color: #c4c3ca;
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
  }
  
  .form-group input:-moz-placeholder {
	color: #c4c3ca;
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
  }
  
  .form-group input::-webkit-input-placeholder {
	color: #c4c3ca;
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
  }
  
  .form-group input:focus:-ms-input-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
  }
  
  .form-group input:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
  }
  
  .form-group input:focus:-moz-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
  }
  
  .form-group input:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
  }
  
  .btn {
	border-radius: 4px;
	height: 44px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	padding: 0 30px;
	letter-spacing: 1px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	border: none;
	background-color: #BBDEFB;
	color: #102770;
	box-shadow: 0 6px 14px 0 rgba(255,235,167,.2);
  }
  
  .btn:hover {
	background-color: #102770;
	color: #BBDEFB;
	box-shadow: 0 4px 10px 0 rgba(16,39,112,.2);
  }
  
  .btn:active {
	background-color: #081540;
	color: #ffffff;
	box-shadow: 0 2px 34px 0 rgba(16,39,112,.62);
	transition: all 50ms linear;
  }
  
  .logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
  }
  
  .logo img {
	height: 26px;
	width: auto;
	display: block;
  }
  
  .section.text-center.cent {
	-webkit-transform-style: unset;
	transform-style: unset;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin: 40px;
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	transform: translate3d(0, 0%, 25px);
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 6px;
	left: 0;
	top: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	perspective: inherit;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	perspective: inherit;
	backface-visibility: hidden;
	perspective: inherit;
	margin: 20px;
	top: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: unset;
	display: flex;
	flex-direction: column;
  }
  
  .form-group.card-front {
	position: relative;
	height: auto;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	top: unset;
	height: auto;
	background: transparent;
	  /* background-color: #1f2029; */
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
  }
  
  i.input-icon {
	width: auto;
	transform: translate3d(0, 0%, 5px);
	  /* box-shadow: 0 0 3px white; */
	border-radius: 50px 0 0 50px;
	position: relative;
	width: 55px;
	height: auto;
	padding: 10px;
	line-height: 1.5em;
	margin: 0;
	display: block;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.25);
	backface-visibility: visible;
	z-index: 20;
	left: 0;
	top: 0;
	left: 0;
  }
  
  .form-group.center-wrap {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: 1600px;
	transform: translate3d(0, 0%, 5px);
	background: transparent;
	top: 0;
  }
  
  .form-style.center-wrap {
	transform: translate3d(0, 0%, 15px);
	background: transparent;
  }
  
  .form-group.card-front:before {
	content: " ";
	background: #ffffff00;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	border-radius: 50px;
	box-shadow: 0 0 2px white;
  }
  
  .form-group:hover:before {
	box-shadow: 0px 2px 3px #324da2;
  }
  
  .form-group:hover i {
	color: white;
	margin: 0px;
	padding: 10px;
	margin-left: 0px;
  }
  
  .form-group.card-front:hover {
	background: rgba(255, 255, 255, .15);
	border-radius: 50px;
	  /* overflow: hidden; */
	  /* padding: 0; */;
  }
  
  
  
  
  
  
  /*******PARTICLE************/
  /* ---- reset ---- */body {
	position: relative;
	background-color: #17181f;
  }
  
  canvas {
	display: block;
	vertical-align: bottom;
  } /* ---- particles.js container ---- */#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -5;
	background-color: transparent;
	opacity: 0.25;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
  } /* ---- stats.js ---- */.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13E8E9;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
  }
  
  .js-count-particles {
	font-size: 1.1em;
  }
  
  #stats, .count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
  }
  
  #stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
  }
  
  .count-particles {
	border-radius: 0 0 3px 3px;
  }
  /********************************/
  
  
  .center-wrap:not(.section) {
	background: rgba(0, 0, 0, 0.25);
  }
  
  .section.text-center.card-front.center-wrap {
	background: transparent;
  }