vnotiftitle {
	font-size: 16px;
	font-weight: 600;
}

.notyf__toast {
	max-width: 375px;
}

.notyf__message p {
	font-size: 14px;
	margin: 0;
	line-height: 1.25em;
}

rect {}

.notyf__icon svg {
	width: 50px;
	height: 50px;
	line-height: 1em;
}

.notyf__icon {
	width: auto;
	padding: 0.5em;
	border-radius: 10px;
	background: #212529;
	color: #c62828;
	box-shadow: 0 0 10px black;
}

.notyf__toast.notyf__toast--lower.notyf__toast--error {
	background: #c62828;
	box-shadow: 0 0 10px black;
}

.notyf__ripple {
	display: none;
}