
:root {
  --blue: #4191ff;
  --indigo: #7420ff;
  --purple: #793de6;
  --pink: #fc26a4;
  --red: #f83245;
  --orange: #f4772e;
  --yellow: #ffc926;
  --green: #3c44b1;
  --teal: #18e1a5;
  --cyan: #11c5db;
  --white: #fff;
  --gray: #d1d2db;
  --gray-dark: #7a7b97;
  --primary: #3c44b1;
  --secondary: #f8f9ff;
  --success: #3c44b1;
  --info: #11c5db;
  --warning: #f4772e;
  --danger: #f83245;
  --light: #f4f5fd;
  --dark: #7a7b97;
  --first: #4191ff;
  --second: #070919;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Heebo", sans-serif;
  --font-family-monospace: "Times New Roman", Times, serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(7, 9, 25, 0);
}
section {
  display: block;
}
body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3b3e66;
  text-align: left;
  background-color: #fff;
}
h1,
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
}
b {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
a {
  color: #3c44b1;
  background-color: transparent;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #292e78;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button,
input,
select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
button {
  -webkit-appearance: button;
}
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
h1,
h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.375rem;
}
h2 {
  font-size: 1.9rem;
}
.display-2 {
  font-weight: 300;
  line-height: 1.2;
}
.display-2 {
  font-size: 3rem;
}
small {
  font-size: 80%;
  font-weight: 400;
}
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}
.col-5,
.col-7,
.col-12,
.col-lg-6,
.col-md-2,
.col-md-4,
.col-md-6,
.col-sm-3,
.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.06rem + 2px);
  padding: 0.53rem 1.3rem;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3b3e66;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d2db;
  border-radius: 0.29rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #3b3e66;
  background-color: #fff;
  border-color: #9297da;
  outline: 0;
  box-shadow: 0 0.313rem 0.719rem rgba(122, 123, 151, 0.1),
    0 0.156rem 0.125rem rgba(122, 123, 151, 0.06);
}
.form-control::-webkit-input-placeholder {
  color: #d1d2db;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #d1d2db;
  opacity: 1;
}
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #d1d2db;
  opacity: 1;
}
.form-control::placeholder {
  color: #d1d2db;
  opacity: 1;
}
.form-control:disabled {
  background-color: #eeeff8;
  opacity: 1;
}
.form-group {
  margin-bottom: 1rem;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}
.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}
.form-check-input:disabled ~ .form-check-label {
  color: #d1d2db;
}
.form-check-label {
  margin-bottom: 0;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #3b3e66;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.53rem 1.3rem;
  font-size: 0.95rem;
  line-height: 1.5;
  border-radius: 0.65rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #3b3e66;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0.313rem 0.719rem rgba(122, 123, 151, 0.1),
    0 0.156rem 0.125rem rgba(122, 123, 151, 0.06);
}
.btn:disabled {
  opacity: 0.65;
}
.btn-primary,
.btn-primary:hover {
  color: #fff;
  background-color: #3c44b1;
  border-color: #3c44b1;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0 transparent;
}
.btn-primary:disabled {
  color: #fff;
  background-color: #3c44b1;
  border-color: #3c44b1;
}
.btn-second,
.btn-second:hover {
  color: #fff;
  background-color: #070919;
  border-color: #070919;
}
.btn-second:focus {
  box-shadow: 0 0 0 0 transparent;
}
.btn-second:disabled {
  color: #fff;
  background-color: #070919;
  border-color: #070919;
}
.btn-outline-second {
  color: #070919;
  border-color: #070919;
}
.btn-outline-second:hover {
  color: #fff;
  background-color: #070919;
  border-color: #070919;
}
.btn-outline-second:focus {
  box-shadow: 0 0 0 0 transparent;
}
.btn-outline-second:disabled {
  color: #070919;
  background-color: transparent;
}
.btn-lg {
  padding: 0.84rem 1.8rem;
  font-size: 0.95rem;
  line-height: 1.5;
  border-radius: 0.75rem;
}
.btn-sm {
  padding: 0.25rem 1.1rem;
  font-size: 1.83125rem;
  line-height: 1em;
  border-radius: 0.29rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(122, 123, 151, 0.3);
  border-radius: 0.65rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(122, 123, 151, 0.3);
}
.card-header:first-child {
  border-radius: 0.65rem 0.65rem 0 0;
}
.badge {
  display: inline-block;
  padding: 0 0.7em;
  font-size: 70%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}
.badge:empty {
  display: none;
}
.badge-pill {
  padding-right: 0.85em;
  padding-left: 0.85em;
  border-radius: 10rem;
}
.badge-success {
  color: #fff;
  background-color: #3c44b1;
}
.border-light {
  border-color: #f4f5fd !important;
}
.border-dark {
  border-color: #7a7b97 !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
@media (min-width: 576px) {
  .d-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) {
  .d-lg-flex {
    display: flex !important;
  }
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.w-25 {
  width: 25% !important;
}
.h-auto {
  height: auto !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.my-4 {
  margin-top: 1.5rem !important;
}
.my-4 {
  margin-bottom: 1.5rem !important;
}
.py-1 {
  padding-top: 0.25rem !important;
}
.py-1 {
  padding-bottom: 0.25rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
}
.px-4 {
  padding-left: 1.5rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}
@media (min-width: 576px) {
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .ml-sm-3 {
    margin-left: 1rem !important;
  }
}
.font-weight-bold {
  font-weight: 700 !important;
}
.text-black-50 {
  color: rgba(7, 9, 25, 0.5) !important;
}
@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  h2,
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
  .container,
  body {
    min-width: 992px !important;
  }
  .badge {
    border: 1px solid #070919;
  }
}
a,
button {
  outline: none;
}
.opacity-2 {
  opacity: 0.2 !important;
}
.h-auto {
  height: auto;
}
.divider {
  background: #eeeff8;
  height: 1px;
  overflow: hidden;
}
.border-2 {
  border-width: 2px !important;
  border-style: solid;
}
.font-size-lg {
  font-size: 1.1875rem;
}
.text-black {
  color: #070919;
}
html {
  scroll-behavior: smooth;
}
.wow {
  visibility: hidden;
}
.heading-1 {
  font-size: 4rem;
  color: #d1d2db;
}
.heading-1,
.heading-2 {
  font-weight: bold;
  margin: 0;
}
.heading-2 {
  font-size: 2rem;
  position: relative;
  padding-left: 2rem;
}
.heading-2:before {
  content: "::";
  position: absolute;
  left: 0;
  top: -2px;
  color: #3c44b1;
}
.heading-1.stick-parent {
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  position: absolute;
  visibility: hidden;
  background: #fff;
  z-index: 7;
  padding: 0 1rem !important;
  font-size: 1.6625rem;
  box-shadow: 0 1px 15px hsla(240, 2%, 52%, 0.3);
  height: 0;
  text-indent: -999rem;
  width: 100%;
  transform: translateY(-100%);
}
.badge {
  text-transform: uppercase;
  height: 20px;
  line-height: 21px;
}
.btn {
  transition: all 0.2s ease-out;
  border-radius: 0.2rem;
}
.btn .btn-wrapper--label:not(:first-child) {
  margin-left: 0.5rem;
}
.btn-primary {
  box-shadow: 0 0.25rem 0.55rem rgba(60, 68, 177, 0.35);
}
.btn-second {
  box-shadow: 0 0.25rem 0.55rem rgba(7, 9, 25, 0.35);
}
.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03),
    0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03),
    0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05),
    0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);
}
.card-box {
  border-width: 1px;
}
.card-box .card-header {
  border-width: 1px;
  border-color: rgba(7, 9, 25, 0.125);
}
.card-box .card-header {
  display: flex;
  align-items: center;
}
.card-box .card-header--title {
  flex-grow: 1;
}
.card-box .card-header--title > b {
  display: block;
}
.card-box .card-header--title > small {
  text-transform: uppercase;
  opacity: 0.3;
  font-weight: bold;
  display: block;
}
/* .card-box .card-header--title > small + b {
  

}*/
.wizard .steps {
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid rgba(122, 123, 151, 0.3);
  background: #f8f9ff;
}
.wizard .steps ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.wizard .steps ul li {
  display: block;
  width: auto;
  position: relative;
  padding: 0 2rem 0 0;
}
.wizard .steps ul li p {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.wizard .steps ul li p,
.wizard .steps ul li p .number {
  align-items: center;
  display: flex;
}
.wizard .steps ul li p .number {
  width: 38px;
  height: 38px;
  background: transparent;
  border: 2px solid #a6a6b9;
  color: #a6a6b9;
  font-weight: bold;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.wizard .steps ul li p .title {
  padding: 0 0.66667rem;
  color: #a6a6b9;
  transition: all 0.2s ease-in-out;
}
.wizard .steps ul li p:hover .number {
  color: #7a7b97;
  border-color: #7a7b97;
}
.wizard .steps ul li p:hover .title {
  color: #7a7b97;
}
.wizard .steps ul li:after {
  content: "❯";
  font-size: 40px ;
  color: #dfe0ea;
  position: absolute;
  top: 51%;
  right: 0.90909rem;
  line-height: 0;
  display: block;
}
.wizard .steps ul li p.currentWizardTab .number {
  background: #3c44b1;
  border-color: #3c44b1;
  color: #fff;
}
.wizard .steps ul li p.currentWizardTab .title {
  color: #3c44b1;
}
.wizard .steps ul li.last:after {
  display: none;
}
.wizard .content {
  padding: 1.25rem;
}
.wizard .actions {
  border-top: 1px solid rgba(122, 123, 151, 0.3);
  padding: 0.75rem 1.25rem;
}
.wizard .actions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.wizard .actions ul li button {
  background: #3c44b1;
  color: #fff;
  transition: all 0.2s ease-out;
  border-radius: 0.2rem;
  box-shadow: 0 0.25rem 0.55rem rgba(60, 68, 177, 0.35);
  display: flex;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.53rem 1.3rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
vicon {
    font-size: 25px;
    line-height: 0px;
    width: 25px;
    height: 25px;
    align-items: center;
    display: flex;
    margin: 0;
}
.wizard .actions ul li button:hover {
  transform: translateY(-2px);
}
@media (max-width: 767.98px) {
  .wizard .steps ul {
    display: block;
  }
  .wizard .steps ul li {
    padding: 0 0 2rem;
  }
  .wizard .steps ul li:after {
    transform: rotate(90deg);
    right: auto;
    left: 11px;
    bottom: 0.90909rem;
    top: auto;
  }
  .wizard .steps ul li:last-child {
    padding-bottom: 0;
  }
}
.fadeIn {
  animation-name: z;
}
.fadeInDown {
  animation-name: A;
}
body#app-top {
  margin-top: 50px;
}
.btn-second,
.btn-second:hover {
  background: #3c44b1;
}
.badge-success {
  background: #070919;
  display: flex;
  align-items: center;
}
span.btn-wrapper--icon {
  font-size: medium;
  display: inline-flex;
  font-size: 25px;
  line-height: 0;
  height: 25px;
	width: 25px;
	display: flex;
	align-items: center;
}
.disabledButton {
  pointer-events: none;
  opacity: 0.5;
}
section {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.wizard .content {
  min-height: 40vh;
  position: relative;
  padding: 0;
}
.wizard .content .currentWizardTab {
  opacity: 1;
  margin: 4em 2em;
	z-index: 100;
	position: relative;
}


@keyframes z {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes A {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}




.mainChoiceButtons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 3em 0 1em 0;
	gap: 1em;
	visibility: visible;
	animation-delay: 0.3s;
	animation-name: z;
}


button {
	font-weight: 400;
	color: #3b3e66;
	user-select: none;
	background-color: transparent;
	border: 2px solid transparent;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: 0.84rem 1.8rem;
	font-size: 0.95rem;
	line-height: 1em;
	outline: none;
	box-shadow: 0 0.25rem 0.55rem rgba(7, 9, 25, 0.35);
	border-color: #3c44b1;
	flex-direction: row;
	display: flex;
	gap: 1em;
	align-items: center;
	border-radius: 0;
	margin: 0;
}

button::-moz-focus-inner {
	padding: 0;
	border-style: none;
}


button p {
	margin: 0;
	align-items: center;
	display: flex;
	justify-content: center;
	pointer-events: none;
	margin: 0;
	margin: 0;
	align-items: center;
	display: flex;
	justify-content: center;
	pointer-events: none;
}

button:hover {
	color: #3b3e66;
	text-decoration: none;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline: 0;
	box-shadow: 0 0 0 0 transparent;
	box-shadow: 0 0.313rem 0.719rem rgba(122, 123, 151, 0.1), 0 0.156rem 0.125rem rgba(122, 123, 151, 0.06);
}

button:disabled {
	opacity: 0.65;
}

button:hover {
	color: #fff;
	background-color: #070919;
	border-color: #070919;
	cursor: pointer;
}

button vIcon {
	font-size: 35px;
	line-height: 0em;
	height: 0;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	font-size: 25px;
	line-height: 0px;
	width: 25px;
	height: 25px;
	align-items: center;
	display: flex;
	margin: 0;
}

button.selected {
	background: #3c44b1;
}

@media print {

	button p {
			orphans: 3;
			widows: 3;
	}
}


@media (prefers-reduced-motion: reduce) {
	button {
			transition: none;
	}
}




.LIVE, .DEV, .TEST {
    background: #9E9E9E;
    padding: 0.35em 1em;
    color: white;
    margin: 0 1em;
    border-radius: 0px;
    box-shadow: 0 2px 5px gray;
}

.LIVE {
    background: #3c44b1;
}

.DEV {
    background: #070919;
}

.TEST {
    background: #de3030;
}

button#LIVE_install_mode_btn {
    border-color: #3c44b1;
    color: #3c44b1;
}
button#LIVE_install_mode_btn:hover, button#LIVE_install_mode_btn.selected_btn{
    background-color: #3c44b1;
    color: white;
}

button#DEV_install_mode_btn {
    border-color: #070919;
    color: #070919;
}

button#DEV_install_mode_btn.selected_btn {
    background-color: #070919;
    color: white;
}

button#TEST_install_mode_btn {
    color: #de3030;
    border-color: #4c1313;
}

button#TEST_install_mode_btn.selected_btn {
    background: #de3030;
    border-color: #4c1313;
    color: white;
}

.mainChoiceButtons > button#LIVE_install_mode_btn:hover, .mainChoiceButtons > button#DEV_install_mode_btn:hover, .mainChoiceButtons > button#TEST_install_mode_btn:hover {
    color: white;
}


.mainChoiceButtons > button#LIVE_install_mode_btn.selected_btn, .mainChoiceButtons > button#DEV_install_mode_btn.selected_btn, .mainChoiceButtons > button#TEST_install_mode_btn.selected_btn {
    border-color: #070919;
}










/************************************************************************************************
DATABASE DATA INFO SETUP TAB
************************************************************************************************/


.form-control {
    display: block;
    width: 100%;
    height: 2.714rem;
    padding: .438rem 1rem;
    line-height: 1.45;
    color: #6E6B7B;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #D8D6DE;
    border-radius: .357rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        -webkit-transition: none;
        transition: none;
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #6E6B7B;
}

.form-control:focus {
    color: #6E6B7B;
    background-color: #FFF;
    border-color: #7367F0;
    outline: 0;
    box-shadow: 0 3px 10px 0 rgba(34,41,47,.1);
}

.form-control::-webkit-input-placeholder {
    color: #B9B9C3;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #B9B9C3;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #B9B9C3;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #B9B9C3;
    opacity: 1;
}

.form-control::placeholder {
    color: #B9B9C3;
    opacity: 1;
}

.form-control:disabled {
    background-color: #EFEFEF;
    opacity: 1;
}

.form-group {
    margin-bottom: 1rem;
}


.input-group>.form-control:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group {
    -webkit-flex-wrap: wrap;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}

.input-group>.form-control:focus {
    z-index: 3;
}

.input-group-prepend {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.input-group-text {
    display: -ms-flexbox;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .438rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.45;
    color: #6E6B7B;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #D8D6DE;
    border-radius: .357rem;
}

.card .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card .card {
    -webkit-flex-direction: column;
}

.card .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.card .card {
    position: relative;
}

.card .card {
    display: -ms-flexbox;
}

.card .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border: 1px solid rgba(34,41,47,.125);
    border-radius: .428rem;
}

.card .card .card-header {
    padding: 1.5rem;
    background-color: rgba(34,41,47,.03);
}

.card .card .card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
}

.card .card .card-title {
    margin-bottom: 1.5rem;
}

.card .card .card-header {
    margin-bottom: 0;
}

.card .card .card-header {
    border-bottom: 1px solid rgba(34,41,47,.125);
}

.card .card .card-header:first-child {
    border-radius: calc(.428rem - 1px) calc(.428rem - 1px) 0 0;
}

@media print {
    *,::after,::before {
        text-shadow: none!important;
        box-shadow: none!important;
    }
}


.card .card .form-control::-webkit-input-placeholder {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control::-moz-placeholder {
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control:-ms-input-placeholder {
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control::-ms-input-placeholder {
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control::placeholder {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control:focus::-webkit-input-placeholder {
    -webkit-transform: translate(5px);
    transform: translate(5px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control:focus::-moz-placeholder {
    transform: translate(5px);
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control:focus:-ms-input-placeholder {
    -ms-transform: translate(5px);
    transform: translate(5px);
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control:focus::-ms-input-placeholder {
    -ms-transform: translate(5px);
    transform: translate(5px);
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control:focus::placeholder {
    -webkit-transform: translate(5px);
    -ms-transform: translate(5px);
    transform: translate(5px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.card .card .form-control:focus:valid {
    box-shadow: 0 3px 10px 0 rgba(34,41,47,.1);
}

.card .card .input-group-text {
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.card .card .input-group-prepend .input-group-text {
    border-right: 0;
}

.card .card .input-group-merge .form-control:not(:first-child) {
    padding-left: 0;
    border-left: 0;
}


.card .card .card-header {
    background-color: transparent;
}

.card .card .card-header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: none;
    padding: .5em 0 ;
}

.card .card-header .card-title, .card .card-header+.card-body {
    padding: 0;
    margin: 0;
}


.card-box section .card-header {
    padding: 1em 0 ;
    border: none;
}






/************************************************************************************************
DATABASE DATA INFO SETUP TAB
************************************************************************************************/