<h1 class="start">Start</h1>

<div class="wrap">

    <div class="metro-huge chat">
        <div class="icon-chat"></div>
        <p>You have <b>3</b> unread messages.</p>
        <br/>
        <p><u>Click to view</u></p>
        <span class="label bottom">Mail</span>
    </div>

    <div class="metro-big calendar">
        <div class="icon-calendar"></div>
        <span class="label bottom">Calendar</span>
    </div>

    <div class="metro-small store">
        <div class="icon-store"></div>
        <span class="label bottom">Store</span>
    </div>

    <div class="metro-big ie">
        <div class="icon-ie"></div>
        <span class="label bottom">Internet Explorer</span>
    </div>

    <div class="metro-big people ">
        <div class="icon-people"></div>
        <span class="label bottom">People</span>
    </div>

    <div class="metro-small chrome">
        <div class="icon-chrome"></div>
        <span class="label bottom">Chrome</span>
    </div>

    <div class="metro-big photo">
        <img src="http://lorempixel.com/200/95/animals" class="img-delay-1" />
        <span class="label bottom">Photos</span>
    </div>

    <div class="metro-big video">
        <div class="icon-video"></div>
        <span class="label bottom">Videos</span>
    </div>

    <div class="metro-big music">
        <div class="icon-music"></div>
        <span class="label bottom">Music</span>
    </div>

    <div class="metro-small games ">
        <div class="icon-games"></div>
        <span class="label bottom">Games</span>
    </div>

    <div class="metro-small twitter">
        <div class="icon-twitter"></div>
        <span class="label bottom">twitter</span>
    </div>

    <div class="metro-small gp">
        <div class="icon-gp"></div>
        <span class="label bottom">Google+</span>
    </div>

    <div class="metro-small fb">
        <div class="icon-fb"></div>
        <span class="label bottom">Facebook</span>
    </div>

    <div class="metro-small cnn">
        <div class="icon-cnn"></div>
        <span class="label bottom">CNN</span>
    </div>

    <div class="metro-big ps">
        <div class="icon-ps"></div>
        <span class="label bottom">Adobe Photoshop</span>
    </div>

</div>
<div class="wrap2">

    <div class="space"></div>

    <div class="metro-small bt">
        <div class="icon-bt"></div>
        <span class="label bottom">Bluetooth</span>
    </div>

    <div class="metro-small cc">
        <div class="icon-cc"></div>
        <span class="label bottom">CCleaner</span>
    </div>

    <div class="metro-big wmp ">
        <div class="icon-wmp"></div>
        <span class="label bottom">Windows Media Player</span>
    </div>

    <div class="metro-small tube">
        <div class="icon-tube"></div>
        <span class="label bottom">Youtube</span>
    </div>

    <div class="metro-big skype">
        <div class="icon-skype"></div>
        <span class="label bottom">Skype</span>
    </div>

    <div class="metro-small steam">
        <div class="icon-steam"></div>
        <span class="label bottom">Steam</span>
    </div>

    <div class="metro-big play">
        <div class="icon-play"></div>
        <span class="label bottom">Android Market</span>
    </div>

</div>

<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
.wrap, .wrap2, .start {
  width: 85%;
  height: auto;
  margin: 70px 100px;
  float: left;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  width: 100%;
  background: #004050;
}

.wrap2 {
  width: 60% !important;
}

div[class^="metro"] {
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  user-drag: element;
  border: solid 2px transparent;
}
div[class^="metro"]:hover {
  border: solid 2px mintcream;
  box-shadow: 0px 0px 6px 4px rgba(53, 89, 100, 0.5);
}
div[class^="metro"]:active {
  -webkit-transform: scale(0.98, 0.98);
          transform: scale(0.98, 0.98);
}

.metro-huge {
  width: 200px;
  height: 200px;
}
.metro-huge p {
  font-size: 13px;
  color: white;
  text-align: center;
}

.metro-big {
  width: 200px;
  height: 95px;
}

.metro-small {
  width: 95px;
  height: 95px;
}

.start {
  @import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
  color: white;
  font: 300 49px AwesomeFont, Open Sans;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.start:hover {
  text-shadow: 0 0 1px white;
}

.space {
  margin-bottom: 10px;
}

.label {
  position: absolute;
  color: white;
  font: 500 12px Segoe UI Light, Open Sans;
  left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bottom {
  bottom: 5px;
}

.top {
  top: 5px;
}

.chat {
  background: #d61300;
}

.calendar {
  background: #00a9ec;
}

.store {
  background: #ff9000;
}

.ie {
  background: #00a9ec;
}

.people {
  background: #0e5d30;
}

.video {
  background: #8b0189;
}

.chrome {
  background: #ce4e4e;
}

.photo {
  background: url(http://lorempixel.com/200/95/people);
  background-position: -2px -2px;
}
.photo img {
  top: -4px;
  left: -4px;
  position: absolute;
  opacity: 0;
  -webkit-animation: fade 8s ease-in-out infinite 8s;
          animation: fade 8s ease-in-out infinite 8s;
  z-index: 0;
  border: solid 2px transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.photo img:hover {
  border: solid 2px mintcream;
}

.music {
  background: #5f5f5f;
  -webkit-animation: flip 6s linear infinite;
          animation: flip 6s linear infinite;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.games {
  background: #00ff00;
}

.twitter {
  background: #5AC6FA;
}

.gp {
  background: #d64136;
}

.fb {
  background: #3b5998;
}

.cnn {
  background: #fe0000;
}

.ps {
  background: #0c5fa1;
}

.bt {
  background: #2546e9;
}

.cc {
  background: #d61300;
}

.wmp {
  background: #f68935;
}

.tube {
  background: #c8312b;
}

.skype {
  background: #19bfe5;
}

.steam {
  background: #59554F;
}

.play {
  background: #95C10D;
}

div[class^="icon"] {
  width: 45px;
  height: 45px;
  margin: 20px auto;
  background-size: 45px 45px;
}

.icon-calendar {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Apps-Calendar-Metro-icon.png);
}

.icon-chat {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Other-Mail-alt-Metro-icon.png);
}

.icon-store {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Web-Microsoft-Store-Metro-icon.png);
}

.icon-ie {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Web-Browsers-Internet-Explorer-10-Metro-icon.png);
}

.icon-people {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Folders-OS-User-No-Frame-Metro-icon.png);
}

.icon-video {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Folders-OS-My-Videos-Metro-icon.png);
}

.icon-chrome {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Web-Browsers-Google-Chrome-Metro-icon.png);
}

.icon-music {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Apps-Google-Music-Metro-icon.png);
}

.icon-games {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Folders-OS-Games-alt-Metro-icon.png);
}

.icon-twitter {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Web-Twitter-alt-4-Metro-icon.png);
}

.icon-gp {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Web-Google-plus-Metro-icon.png);
}

.icon-fb {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Web-Facebook-alt-1-Metro-icon.png);
}

.icon-cnn {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Web-CNN-Metro-icon.png);
}

.icon-ps {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Apps-Adobe-Photoshop-Metro-icon.png);
}

.icon-bt {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Apps-Bluetooth-Metro-icon.png);
}

.icon-cc {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Apps-CCleaner-Metro-icon.png);
}

.icon-wmp {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Apps-Windows-Media-Player-Metro-icon.png);
}

.icon-tube {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Web-YouTube-alt-1-Metro-icon.png);
}

.icon-skype {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Apps-Skype-Metro-icon.png);
}

.icon-steam {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Apps-Steam-alt-Metro-icon.png);
}

.icon-play {
  background: url(http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Web-Android-Market-Metro-icon.png);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #007491;
}

::-webkit-scrollbar-thumb {
  background: #002f3b;
  cursor: pointer;
}

::-moz-selection {
  background: mintcream;
}

::selection {
  background: mintcream;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  15% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  15% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

</style>