i.fa {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    line-height: 1.42857143;
  }
  .headerDashboard {
    position: fixed;
    z-index: 10;
    top: 56px;
    left: 0;
    background: #3498DB;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
  }
  .headerDashboard .logo {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .headerDashboard #menu-action {
    display: block;
    float: left;
    width: 60px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .headerDashboard #menu-action i {
    display: inline-block;
    margin: 0 5px;
  }
  .headerDashboard #menu-action span {
    width: 0px;
    display: none;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .headerDashboard #menu-action:hover {
    background: rgba(0, 0, 0, 0.25);
  }
  .headerDashboard #menu-action.active {
    width: 250px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .headerDashboard #menu-action.active span {
    display: inline;
    width: auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .sidebarDashboard {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 106px;
    height: 100%;
    width: 60px;
    background: #fff;
    border-right: 1px solid #ddd;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .sidebarDashboard:hover,
  .sidebarDashboard.active,
  .sidebarDashboard.hovered {
    width: 250px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .sidebarDashboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebarDashboard ul li {
    display: block;
  }
  .sidebarDashboard ul li a {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    color: #444;
    text-align: left;
  }
  .sidebarDashboard ul li a i {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .sidebarDashboard ul li a span {
    display: inline-block;
    height: 60px;
    line-height: 60px;
  }
  .sidebarDashboard ul li a:hover {
    background-color: #eee;
  }
  .main {
    position: relative;
    display: block;
    top: 50px;
    left: 0;
    padding: 15px;
    padding-left: 75px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .main.active {
    padding-left: 275px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .main .jumbotron {
    background-color: #fff;
    padding: 30px !important;
    border: 1px solid #dfe8f1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .main .jumbotron h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
  }
  @-webkit-keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  @keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      -ms-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      -ms-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      -ms-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      -ms-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      -ms-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  .swing {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
  }
  .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background: white;
  }
  table {
    background: white;
  }
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .bs-callout p:last-child {
    margin-bottom: 0;
  }
  .bs-callout code {
    border-radius: 3px;
  }
  .bs-callout + .bs-callout {
    margin-top: -5px;
  }
  .bs-callout-default {
    border-left-color: #777;
  }
  .bs-callout-default h4 {
    color: #777;
  }
  .bs-callout-primary {
    border-left-color: #428bca;
  }
  .bs-callout-primary h4 {
    color: #428bca;
  }
  .bs-callout-success {
    border-left-color: #5cb85c;
  }
  .bs-callout-success h4 {
    color: #5cb85c;
  }
  .bs-callout-danger {
    border-left-color: #d9534f;
  }
  .bs-callout-danger h4 {
    color: #d9534f;
  }
  .bs-callout-warning {
    border-left-color: #f0ad4e;
  }
  .bs-callout-warning h4 {
    color: #f0ad4e;
  }
  .bs-callout-info {
    border-left-color: #5bc0de;
  }
  .bs-callout-info h4 {
    color: #5bc0de;
  }
  