$color_1: #fff;
$color_2: #adb5bd;
$color_3: rgba(0,0,0,.5);
$color_4: #868e96;
$color_5: rgba(0,0,0,.7);
$color_6: #000;
$color_7: white;
$font_family_1: FontAwesome;
$background_color_1: #212529;
$background_color_2: #dee2e6;
$background_color_3: #e9ecef;
$background_color_4: #495057;

#page-top {
	overflow-x: hidden;
}
.content-wrapper {
	overflow-x: hidden;
	min-height: calc(100vh - 56px);
	padding-top: 1rem;
	background: #fff;
}
#mainNav {
	.navbar-collapse {
		.navbar-sidenav {
			.sidenav-second-level {
				>li {
					>a {
						&:focus {
							text-decoration: none;
						}
						&:hover {
							text-decoration: none;
						}
						display: block;
						padding: .5em 0 .5em 1em;
					}
				}
				padding-left: 0;
			}
			.sidenav-third-level {
				>li {
					>a {
						&:focus {
							text-decoration: none;
						}
						&:hover {
							text-decoration: none;
						}
						display: block;
						padding: .5em 0 .5em 2em;
					}
				}
				padding-left: 0;
			}
			.nav-link-collapse {
				&:after {
					float: right;
					content: '\f107';
					font-family: $font_family_1;
				}
			}
			.nav-link-collapse.collapsed {
				&:after {
					content: '\f105';
				}
			}
			>.nav-item {
				&:hover {
					transition: 0.25s ease all;
					width: 250px !important;
					background: #212529;
					span {
						display: inline-flex;
						transition: 0s ease all 0.2s;
						color: $color_7;
					}
				}
			}
		}
		overflow: auto;
		max-height: 75vh;
		.navbar-nav {
			.nav-item {
				.nav-link {
					cursor: pointer;
				}
			}
			>.nav-item.dropdown {
				>.nav-link {
					position: relative;
					min-width: 45px;
					&:after {
						float: right;
						width: auto;
						content: '\f105';
						border: none;
						font-family: $font_family_1;
					}
					.indicator {
						position: absolute;
						top: 5px;
						left: 21px;
						font-size: 10px;
					}
				}
				.dropdown-menu {
					>.dropdown-item {
						>.dropdown-message {
							overflow: hidden;
							max-width: none;
							text-overflow: ellipsis;
						}
					}
				}
			}
			>.nav-item.dropdown.show {
				>.nav-link {
					&:after {
						content: '\f107';
					}
				}
			}
		}
		.sidenav-toggler {
			display: none;
		}
	}
}
#sidenavToggler {
	i {
		font-weight: 800;
	}
}
.scroll-to-top {
	i {
		font-weight: 800;
	}
	position: fixed;
	right: 15px;
	bottom: 3px;
	display: none;
	width: 50px;
	height: 50px;
	text-align: center;
	color: $color_1;
	background: rgba(52,58,64,.5);
	line-height: 45px;
	&:focus {
		color: $color_1;
	}
	&:hover {
		color: $color_1;
		background: #343a40;
	}
}
html {
	position: relative;
	min-height: 100%;
}
#page-top.sticky-footer {
	margin-bottom: 56px;
	.content-wrapper {
		min-height: calc(100vh - 56px - 56px);
	}
}
#page-top.fixed-nav {
	padding-top: 56px;
}
.smaller {
	font-size: .7rem;
}
.o-hidden {
	overflow: hidden !important;
}
.z-0 {
	z-index: 0;
}
.z-1 {
	z-index: 1;
}
#mainNav.fixed-top {
	.sidenav-toggler {
		display: none;
	}
}
#page-top.sidenav-toggled {
	.navbar-sidenav {
		.nav-item {
			&:after {
				display: none;
			}
			width: 55px !important;
			white-space: nowrap;
		}
		.nav-link-text {
			display: none;
		}
		.nav-link {
			&:after {
				display: none;
			}
			width: 55px !important;
		}
		width: 55px;
	}
	#mainNav.fixed-top {
		.sidenav-toggler {
			overflow-x: hidden;
			width: 55px;
			.nav-item {
				width: 55px !important;
			}
			.nav-link {
				width: 55px !important;
			}
		}
		#sidenavToggler {
			i {
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
				-webkit-filter: FlipH;
				filter: FlipH;
				-ms-filter: 'FlipH';
			}
		}
	}
	#mainNav.static-top {
		#sidenavToggler {
			i {
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
				-webkit-filter: FlipH;
				filter: FlipH;
				-ms-filter: 'FlipH';
			}
		}
	}
	.navbar-sidenav-tooltip.show {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
#mainNav.fixed-top.navbar-dark {
	.sidenav-toggler {
		background-color: $background_color_1;
		a {
			i {
				color: $color_2;
			}
		}
	}
}
#mainNav.fixed-top.navbar-light {
	.sidenav-toggler {
		background-color: $background_color_2;
		a {
			i {
				color: $color_3;
			}
		}
	}
}
#mainNav.static-top {
	.sidenav-toggler {
		display: none;
	}
}
.navbar-sidenav-tooltip.show {
	display: none;
}
#mainNav.navbar-dark {
	.navbar-collapse {
		.navbar-sidenav {
			.nav-link-collapse {
				&:after {
					color: $color_4;
				}
			}
			>.nav-item {
				>.nav-link {
					color: $color_4;
					&:hover {
						color: $color_2;
					}
				}
				.sidenav-second-level {
					>li {
						>a {
							color: $color_4;
							&:focus {
								color: $color_2;
							}
							&:hover {
								color: $color_2;
							}
						}
					}
				}
				.sidenav-third-level {
					>li {
						>a {
							color: $color_4;
							&:focus {
								color: $color_2;
							}
							&:hover {
								color: $color_2;
							}
						}
					}
				}
			}
		}
		.navbar-nav {
			>.nav-item.dropdown {
				>.nav-link {
					&:after {
						color: $color_2;
					}
				}
			}
		}
	}
}
#mainNav.navbar-light {
	.navbar-collapse {
		.navbar-sidenav {
			.nav-link-collapse {
				&:after {
					color: $color_3;
				}
			}
			>.nav-item {
				>.nav-link {
					color: $color_3;
					&:hover {
						color: $color_5;
					}
				}
				.sidenav-second-level {
					>li {
						>a {
							color: $color_3;
							&:focus {
								color: $color_5;
							}
							&:hover {
								color: $color_5;
							}
						}
					}
				}
				.sidenav-third-level {
					>li {
						>a {
							color: $color_3;
							&:focus {
								color: $color_5;
							}
							&:hover {
								color: $color_5;
							}
						}
					}
				}
			}
		}
		.navbar-nav {
			>.nav-item.dropdown {
				>.nav-link {
					&:after {
						color: $color_3;
					}
				}
			}
		}
	}
}
.card-body-icon {
	position: absolute;
	z-index: 0;
	top: -25px;
	right: -25px;
	font-size: 5rem;
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
}
.card-login {
	max-width: 25rem;
}
.card-register {
	max-width: 40rem;
}
footer.sticky-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 56px;
	background-color: $background_color_3;
	line-height: 55px;
}
@media (min-width: 992px) {
	#mainNav {
		.navbar-brand {
			width: 250px;
		}
		.navbar-collapse {
			overflow: visible;
			max-height: none;
			.navbar-sidenav {
				position: absolute;
				top: 0;
				left: 0;
				-ms-flex-direction: column;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				flex-direction: column;
				margin-top: 56px;
				>.nav-item {
					width: 250px;
					padding: 0;
					>.nav-link {
						padding: 1em;
					}
					.sidenav-second-level {
						padding-left: 0;
						list-style: none;
						>li {
							width: 250px;
							>a {
								padding: 1em 1em 1em 2.75em;
							}
						}
					}
					.sidenav-third-level {
						padding-left: 0;
						list-style: none;
						>li {
							width: 250px;
							>a {
								padding: 1em 1em 1em 3.75em;
							}
						}
					}
				}
			}
			.navbar-nav {
				>.nav-item.dropdown {
					>.nav-link {
						min-width: 0;
						&:after {
							width: 24px;
							text-align: center;
						}
					}
					.dropdown-menu {
						>.dropdown-item {
							>.dropdown-message {
								max-width: 300px;
							}
						}
					}
				}
			}
		}
	}
	#mainNav.fixed-top {
		.navbar-sidenav {
			height: calc(100vh - 112px);
		}
		.sidenav-toggler {
			position: absolute;
			top: 0;
			left: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			flex-direction: column;
			margin-top: calc(100vh - 56px);
			>.nav-item {
				width: 250px;
				padding: 0;
				>.nav-link {
					padding: 1em;
				}
			}
		}
	}
	#mainNav.static-top {
		.sidenav-toggler {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
	}
	.content-wrapper {
		margin-left: 250px;
	}
	#page-top.sidenav-toggled {
		.content-wrapper {
			margin-left: 55px;
		}
		footer.sticky-footer {
			width: calc(100% - 55px);
		}
	}
	#mainNav.navbar-dark {
		.navbar-collapse {
			.navbar-sidenav {
				background: #343a40;
				li.active {
					a {
						color: $color_1 !important;
						background-color: $background_color_4;
						&:focus {
							color: $color_1;
						}
						&:hover {
							color: $color_1;
						}
					}
				}
				>.nav-item {
					.sidenav-second-level {
						background: #343a40;
					}
					.sidenav-third-level {
						background: #343a40;
					}
				}
			}
		}
	}
	#mainNav.navbar-light {
		.navbar-collapse {
			.navbar-sidenav {
				background: #f8f9fa;
				li.active {
					a {
						color: $color_6 !important;
						background-color: $background_color_3;
						&:focus {
							color: $color_6;
						}
						&:hover {
							color: $color_6;
						}
					}
				}
				>.nav-item {
					.sidenav-second-level {
						background: #f8f9fa;
					}
					.sidenav-third-level {
						background: #f8f9fa;
					}
				}
			}
		}
	}
	footer.sticky-footer {
		width: calc(100% - 250px);
	}
}
@media (min-width: 576px) {
	.card-columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
@media (min-width: 768px) {
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
@media (min-width: 1200px) {
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
