$color_1: green;
$color_2: #fff;
$color_3: #f0f0f0;
$color_b1: #444;
$color_b2: #555;
$font_family_1: Monospace,sans-serif;

body {
	margin: 0;
	padding: 0;
	.demo {
		color: $color_1;
		background: #00f;
	}
}
button {
	font-family: $font_family_1;
}
input {
	font-family: $font_family_1;
	&:-internal-autofill-selected {
		border-radius: 0 50px 50px 0;
	}
}
select {
	font-family: $font_family_1;
}
textarea {
	font-family: $font_family_1;
}
main.starter-template {
	margin-top: 57px;
}
#home_logo {
	i {
		font-size: 30px;
	}
}
.navbar-dark {
	.navbar-nav {
		.nav-link.current_page {
			color: $color_2;
		}
		.nav-link {
			color: $color_3;
			&:focus {
				color: $color_2 !important;
			}
			&:hover {
				color: $color_2 !important;
			}
		}
	}
}
