<a class="navbar-brand" id="home_logo"><i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i> OmegaDemo</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" id='homepage'>Home</a>
        <a class="nav-item nav-link" id='aboutuspage'>About Us</a>
        <a class="nav-item nav-link" id='dashboard'>Dashboard</a>
        <a class="nav-item nav-link" id='update_account'>Account</a>
        <a class="nav-item nav-link" id='logout'>Logout</a>
    </div>
</div>